HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.history/

### Sensitive configuration
mcp-client/config/
env.sh
deploy.sh
install.yml
**/config/creds*.yml
**/config/*.txt
**/*.pv

### Node/NPM/PNPM ###
package-lock.json
dist
node
node_modules

### Lychee link checker ###
.lychee-cache/